.add-task {
    height: 15vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    resize: none;
}

.add-heading {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-heading p {
    color: white;
    font-family: Inter-Regular;
    font-size: 14px;
}

.form-data {
    width: 60%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.input-field {
    width: 72%;
    border-radius: 4px;
    border: none;
    padding: 12px;
    background-color: #5b5b5b;
    color: white;
    font-size: 14px;
    resize: none;
    outline: none;
}

::placeholder {
    color: rgb(222, 222, 222);
    font-size: 12px;
}

.submit-btn {
    width: 20%;
}