@font-face {
  font-family: Inter-Regular;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Light;
  src: url(assets/fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(assets/fonts/Inter-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #171717;
  height: 100vh;
  width: 100vw;
}


