.tasks{
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px 0px 10px 0px;
}

.tasks-added-heading p{
    font-family: Inter-Regular;
    color: white;
    font-size: 14px;
}

.tasks-wrap{
    height: 85%;
    overflow-y: scroll;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 45px;
    flex-direction: column;
    justify-content: space-between;
}

/*hiding scrollbar*/
.tasks-wrap {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* adding and styling scrollbar (for Chrome, Safari, Mozilla)*/
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    margin-top: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C620A7;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}